<div ng-if="formConfig.show" ng-include="'app/settings/board/board.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>My Quiver</h4>
  </div>  
  <div class="panel-body">
    <button class="btn btn-default pull-right" ng-click="loadBoardForm()">
      <span class="glyphicon glyphicon-plus"></span>
      Add Board
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Default</th>
          <th>Size</th>
          <th>Name</th>
          <th>Category</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="board in boards | orderBy:boardLength">
          <td class="text-center"><span ng-if="board.default" class="glyphicon glyphicon-ok"></span></td>
          <td>{{board.size}}</td>
          <td>{{board.name}}</td>
          <td>{{board.category}}</td>
          <td class="text-center">
            <span ng-click="loadBoardForm(board)" class="glyphicon glyphicon-pencil text-success tt-table-action clickable"></span>
            <span class="glyphicon glyphicon-remove text-danger tt-table-action clickable"
                  ng-click="deleteBoard('this board', board)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
