
body {
  padding-top: 70px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Form validation */
.form-control.ng-invalid.ng-touched {
  border-color: #a94442;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  opacity: .6;
}

.tt-table-action {
  margin-right: 5px;
  margin-left: 5px;
}

#tt-home-spot {
  margin-left: 10px;
}

/* Review Sessions */
.tt-review-comment {
  border-top: none !important;
  padding-left: 16px !important;
}

/* D3 Charts */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}