.banner {
    background: url("/assets/images/ob-aframe.jpg") center center no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 0;
    position: absolute;
    left: 0;
    z-index: -1;
    margin-top: -$body-offset;
    @include breakpoint($breakpoint-20) {
        height: $banner-height;
    }
}

.banner-overlay {
    margin-top: 10%;
    padding: 10%;
    @include breakpoint($breakpoint-20) {
        margin-top: 50px;
        padding: 3%;
    }

    &.signup {
        @include breakpoint($breakpoint-20) {
            margin-top: 18px;
        }
    }
}