// =========== Panels
.panel-default {
	border-color: $color-neutral-10;
	border-radius:0;

	&>.panel-heading{
		background: transparent;
		//border-color: $color-brand-40-a50;
		a{
			text-transform: uppercase;
			text-docoration:none;
		}
	}
	.panel-heading{
		h4{
			
			margin-bottom:0;

		}
	}
	.form-horizontal .control-label{
		line-height: 1.1;
	}
}

.list-group-item {
	border-color: $color-neutral-10;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{
	color: $color-brand-40; 
	background-color: $color-active;
	border-color: $color-neutral-10;
}
// .panel-links{
// 	a {
// 		text-decoration: none;
// 		text-transform: uppercase;
// 	}
// }
// .panel {
//     background: $color-neutral-10;
//     border-radius: $border-radius-10;
//     margin-bottom: $spacing;
//     padding: $spacing;
// }

// .panel--callout {
//     @extend .panel;
//     background: $color-brand-50;
//     color: $white;
// }
