// =========== Home Page

// This is an example of a module.
// A module is directly connected to the content like a product, blog-article or shopping-cart.


// Module
.home {

    // 1: Add the direct properties of the element
    color: blue;

    // 2: Add media queries or print styles
   // @include breakpoint($breakpoint-10) { property: value; }

    // 3: Add selectors of the parent element
   // &:hover { property: value; }
    &.jumbotron{
      background:url('../images/ttown-home.jpg') top center no-repeat;
      min-height:540px;
      background-size:cover;
      position:relative;


    }
    .anchor{
      position:absolute;
       bottom:5px;
      width: 100%;
        left: 0;
        text-align: center;
        margin: auto;    

    }

    // 4: Add states of the parent element
   // &.is-open { property: value; }

    // 5: Add nested elements
    strong { font-weight: bold; }

}

// Submodule
.home--details { property: value; }
