<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Dashboard</h4>
  </div>
  <div class="panel-body">
    <button class="btn btn-default btn-sm">1 Month</button>
    <button class="btn btn-default btn-sm">3 Months</button>
    <button class="btn btn-default btn-sm">6 Months</button>
    <button class="btn btn-default btn-sm">YTD</button>
    <button class="btn btn-default btn-sm">All Time</button>
    <br/>
    <br/>
    <sessions-bar-chart chart-data="chartData"></sessions-bar-chart>

  </div>
  <div class="panel-footer">
    Some text
  </div>
</div>