<div class="header" ng-controller="NavbarCtrl">
  <ul class="nav nav-pills pull-right">
    <li ng-hide="currentUser" ng-class="{active: $state.includes('login')}"><a ui-sref="login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: $state.includes('signup')}"><a ui-sref="signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: $state.includes('surfs')}"><a ui-sref="surfs.create">Sessions</a></li>
    <li ng-show="currentUser" ng-class="{active: $state.includes('settings')}"><a ui-sref="settings.quiver">Settings</a></li>
    <li ng-show="currentUser"><a href="" ng-click="logout()">Logout</a></li>
  </ul>
  <h3 class="text-muted"><a href="/">Thrashtown</a></h3>
</div>