<div class="panel panel-default">
  <div class="panel-heading">
    <h4>My Quiver</h4>
  </div>
  
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">Default</th>
          <th>Size</th>
          <th>Name</th>
          <th>Category</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="board in boards">
          <td class="text-center"><span ng-if="board.default" class="glyphicon glyphicon-ok"></span></td>
          <td>{{board.size}}</td>
          <td>{{board.name}}</td>
          <td>{{board.category}}</td>
          <td class="text-center">
            <span ng-click="loadEditView(board)" class="glyphicon glyphicon-edit text-success clickable"></span>
            <span ng-click="deleteBoard(board)" class="glyphicon glyphicon-trash text-danger clickable"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-default pull-right" ng-click="loadAddView()">
      <span class="glyphicon glyphicon-plus"></span>
      Add Board
    </button>
  </div>
</div>

<div ui-view=""></div>
