<div ng-include="'partials/navbar.html'"></div>

<div class="row">
  <div class="col-sm-3">
    <div class="list-group">
      <a class="list-group-item" ui-sref="settings.account" ng-class="{active: $state.includes('settings.account')}">Account</a>
      <a class="list-group-item" ui-sref="settings.quiver" ng-class="{active: $state.includes('settings.quiver')}">Quiver</a>
      <a class="list-group-item" ui-sref="settings.surfspots" ng-class="{active: $state.includes('settings.surfspots')}">Surf Spots</a>
    </div>
  </div>
  <div class="col-sm-9">
    <div ui-view=""></div>
  </div>
</div>