
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>My Sessions</h4>
      </div>
      <div class="panel-body">      

        <div class="row">
          <div class="form col-sm-8">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">Search:</div>
                <input class="form-control" ng-model="searchText">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <button class="btn btn-default btn-sm pull-right" ui-sref="surfs.create">
              <span class="glyphicon glyphicon-plus"></span>
              Add Session
            </button>
          </div>

        </div>


        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <th>Session Date</th>
              <th>Location</th>
              <th>Other Friends</th>
              <th>Fun Factor</th>
              <th>Board</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat-start="surf in surfs | filter:searchText | orderBy:'sessionDate'">
              <td>{{surf.sessionDate | date:"EEE, MMM d yyyy"}}</td>
              <td>{{surfSpots[surf.surfSpot_id].region}} - {{surfSpots[surf.surfSpot_id].name}}</td>
              <td>{{surf.otherFriends}}</td>
              <td>{{surf.funFactor}}</td>
              <td>{{boards[surf.board_id].size}} - {{boards[surf.board_id].name}}</td>
              <td class="text-center"><span class="text-success glyphicon glyphicon-pencil clickable" ng-click="editSurf(surf)"></span></td>
              <td class="text-center"><span class="text-danger glyphicon glyphicon-remove clickable" ng-click="deleteSurf(surf)"></span></td>
            </tr>
            <tr ng-repeat-end>
              <td class="tt-review-comment text-muted" colspan="7">{{surf.comment}}</td>
            </tr>
          </tbody>      
        </table>
      </div>
    </div>
  </div>
</div>