<div ng-if="formConfig.show" ng-include="'app/settings/surf-spot/surf-spot.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>My Surf Spots</h4>
  </div>
  <div class="panel-body">
    <button class="btn btn-default pull-right" ng-click="loadSurfSpotForm()">
      <span class="glyphicon glyphicon-plus"></span>
      Add Spot
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
          <th>Latitude</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="surfSpot in surfSpots | orderBy:surfSpotLatitude:true">
          <td>{{surfSpot.name}}<span ng-if="surfSpot.default" id="tt-home-spot" class="glyphicon glyphicon-home"></span> </td>
          <td>{{surfSpot.region}}</td>
          <td>{{surfSpot.lat | number}}</td>
          <td class="text-center">
            <span ng-click="loadSurfSpotForm(surfSpot)" class="glyphicon glyphicon-pencil text-success tt-table-action clickable"></span>
            <span class="glyphicon glyphicon-remove text-danger tt-table-action clickable"
                  ng-click="deleteSurfSpot('this surf spot', surfSpot)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
