// =========== Navbar

.navbar {
    padding: 0;
    
    background: #fCFCFC;
    border-bottom: 1px solid #f3f3f3;
    @include breakpoint($breakpoint-20) {
        padding: 8px 3em;
    }

    // .navbar-brand{
    //     position: absolute;
    //     width: 100%;
    //     left: 0;
    //     text-align: center;
    //     margin: auto;
    // }
    float: none;
    .navbar-header {
        float: none;
        text-align: center;
        margin: 0;
        line-height: 1;
        @include breakpoint($breakpoint-20) {
            text-align: left;
            float: left;
            margin: 0;
        }
    }
    .navbar-brand {
        font-family: $font-family-heading;
        font-weight: 900;
        float: none;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        width:160px;

        @include breakpoint($breakpoint-20) {
            float: left;
            padding-left: 0;
            position: static;
            text-align: left;
        }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        background: transparent;
    }
    a {
        text-transform: uppercase;
        color: #000;
        text-decoration: none;

        &:hover {
            color: red;
        }
    }
    li {
        a {
            font-family: $font-family-heading;
            font-weight: 400;
            text-decoration: none;
            &:hover {
                color: $black !important;
            }
        }
    }
}